.revol{
   padding: 100px 0px 70px; 
&-text{
    font-family:'Lato' ;
    line-height: 32px;
}
&-text-wrapper{
    @include column;
    
}
&-link-wrapper{
    @include centered;
    margin-top: 20px;
    
}
 h2{
    font-weight: $big-weight;
    font-size: 54px;
    color: #635C73;
    text-transform:uppercase ;
    padding-bottom: 35px;
    
 }
 &-counter{
    border: 1px solid #635C73;
    padding: 9px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: $big-weight;
 }
 &-button{
    border-radius: none;
    padding:5px 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: $big-weight;
 }
 @media screen and (max-width:$tab){
  h2{
   font-size: 42px;
   text-align: center;
  } 
  &-text{
   text-align: center;
  }
  
}
@media screen and (max-width:$mobile){
   h2{
      font-size: 26px;
   }
   &-link-wrapper{
      flex-wrap: wrap;
   }
   &-button{
      margin-top: 10px;
   }
   &-counter{
    margin-top: 10px;
   }
   &-text{
      font-size: $text-size;
   }
}
 @media screen and (max-width:$tab){
   h2{
      text-align: center;
      font-size: 42px;
   }
   &-text{
      text-align: center;
   }
 }
 @media screen and (max-width:$mobile){
   h2{
      font-size: 26px;
      text-align: center;
   }
   &-text{
      font-size: 14px;
      text-align: center;
   }
   &-link-wrapper{
      flex-wrap: wrap;
      row-gap: 15px;
   }
 }
}


